/*MajdiAbolil&&MahmodSawaid*/

body{
    position: relative;
   	font-style:italic;
}
#container{
    margin-bottom:5%;
}

#Shimg{
    margin: 0 auto;
    height: 20em;
}
#username{
    text-align:center;

}
